<!DOCTYPE html>
<html lang="en">

<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container1 d-flex align-items-center justify-content-center">
        <div class="card m-2 bg-light shadow rounded-2">
            <h5 class="card-header bg-primary text-white">To do list</h5>
            <div class="card-body">
                <div class="form-check">
                    <% for (var i=0; i < listtasks.length; i++){ %>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                        <p class="form-check-label" for="flexCheckIndeterminate">
                            <%= listtasks[i] %>
                        </p>
                        <% } %>
                </div>
                <form action="/" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="task" placeholder="Add New Task"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-danger" type="submit" id="button-addon2">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>